<div class="container">
  <div class="row search">
    <div class="col-md-12">
        <app-search (getName)='searchUser($event)'></app-search>
      </div>
  </div>
  <div class="row main-content">
    <div class="col-md-4 image-left">
      <img src="{{users.avatar_url}}" alt="avatar_url">
    </div>
    <div class="col-md-8 user-details">
      <div class="table table-striped">
        <h3> {{users.name}}</h3>
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Number of Repos:</th>
              <td>{{users.public_repos}}</td>
            </tr>
            <tr>
              <th scope="row">Hireable:</th>
              <td>{{users.hireable}}</td>
            </tr>
            <tr>
              <th scope="row">Profile Create Date:</th>
              <td>{{users.created_at}}</td>
            </tr>
            <tr>
              <th scope="row">Followers:</th>
              <td>{{users.followers}}</td>
            </tr>
            <tr>
              <th scope="row">Following</th>
              <td>{{users.following}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr>
</div>
